<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>
Deliveries
   
   <% %>
   <%= link_to("View my salary", {:controller => 'deliveries', :action => 'complete_for_salaries', :user_id => @user.id}) %>

<%= link_to 'Edit', edit_user_path(@user) %> 

