<%= form_for(@something) do |f| %>
  <% if @something.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@something.errors.count, "error") %> prohibited this something from being saved:</h2>

      <ul>
      <% @something.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= form_for(@something) do |f| %>
  <% if @something.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@something.errors.count, "error") %> prohibited this something from being saved:</h2>

      <ul>
      <% @something.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
