<%= form_for(@delivery) do |f| %>
  <% if @delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% @delivery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
 <%= f.label :user_id %><br />
    <%= f.select(:user_id, @users.collect {|t| [t.username, t.id]})%><br />
 
<p>
  <b>Start:</b>
  <%= @delivery.start %>
</p>

<p>
  <b>Finish:</b>
  <%= @delivery.finish %>
</p>

<p>
  <b>Content:</b>
  <%= @delivery.content %>
</p>


   <div class="field">
    Register as done
    <%= f.check_box :end %>
  </div>
    
  <div class="actions">
    <%= f.submit %>
  </div>


    <% end %>
 

