<%= form_for(@delivery) do |f| %>
  <% if @delivery.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@delivery.errors.count, "error") %>.
    </div>
    <ul>
    <% @delivery.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="span6 offset3">

 <% if !(session[:user_id] or session[:admin_id])  %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>
   <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :start %>
    <%= f.text_field :start %>
  </div>
  <div class="field">
    <%= f.label :finish %>
    <%= f.text_field :finish %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
   <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>
 
  <% end %>
  <% if session[:user_id] or session[:admin_id]  %>
  <p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @delivery.name %>
</p>

<p>
  <b>Number:</b>
  <%= @delivery.number %>
</p>

<p>
  <b>Start:</b>
  <%= @delivery.start %>
</p>

<p>
  <b>Finish:</b>
  <%= @delivery.finish %>
</p>

<p>
  <b>Content:</b>
  <%= @delivery.content %>
</p>


   <div class="field">
   Check for transport
    <%= f.check_box :road %>
  </div>
    <% end %>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>