<h1>Listing deliveries</h1>
<% if session[:admin_id]  %>
 <%= link_to "E-BURGER DELIVERIES ONLY", :controller => "deliveries", :action => 'e_burger_deliveries'%>
 <% end %>
<table class="table table-bdeliveryed">
  <tr>
    <th>Name</th>
    <th>Number</th>
     <th>City</th>
    <th>Start</th>
    <th>Finish</th>
    <th>Content</th>
     <th>Weight</th>
    <th>Price</th>
    <% if session[:user_id]  %>
    <th>Accept</th>
    <% end %>
    <% if session[:admin_id]  %>
    <th>Delete</th>
    <% end %>
  </tr>

<% @deliveries.each do |delivery| %>
  <% if delivery.road == false %>
  <tr>
    <td><%= delivery.name %></td>
    <td><%= delivery.number %></td>
     <td><%= delivery.city %></td>
    <td><%= delivery.start %></td>
    <td><%= delivery.finish %></td>
    <td><%= delivery.content %></td>
    <td><%= delivery.weight %></td>
    <%  if delivery.weight > 1 and delivery.weight < 1.5 %>
  <% delivery.price = 1.5  %>
  <% end %>
   <%  if delivery.weight > 1.5 and delivery.weight < 2 %>
  <% delivery.price = 2  %>
  <% end %>
  <%  if delivery.weight > 2 and delivery.weight < 2.5 %>
  <% delivery.price = 2.5  %>
  <% end %>
   <%  if delivery.weight > 2.5 and delivery.weight < 3 %>
  <% delivery.price = 3  %>
  <% end %>
  <%  if delivery.weight > 3 and delivery.weight < 3.5 %>
  <% delivery.price = 3.5  %>
  <% end %>
   <%  if delivery.weight > 3.5 and delivery.weight < 4 %>
  <% delivery.price = 4  %>
  <% end %>
  <%  if delivery.weight > 4 and delivery.weight < 4.5 %>
  <% delivery.price = 4.5  %>
  <% end %>
  <%  if delivery.weight > 4.5 and delivery.weight < 5 %>
  <% delivery.price = 5  %>
  <% end %>
    <td><%= delivery.price %></td>
    <% if session[:user_id]  %>
    <td><%= link_to 'Watch for tansporting', edit_delivery_path(delivery) %></td>
    <% end %>
    <% if session[:admin_id]  %>
    <td><%= link_to 'Destroy', delivery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
  <% end %>
<% end %>
