<h1>Listing deliveries</h1>

<table class="table table-bdeliveryed">
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Number</th>
    <th>Start</th>
    <th>Finish</th>
    <th>Content</th>
    <% if session[:user_id]  %>
    <th></th>
    <% end %>
    <th></th>
  </tr>

<% @deliveries.each do |delivery| %>
  <% if delivery.road == true %>
  <tr>
     <td><%= delivery.user.username %></td>
    <td><%= delivery.name %></td>
    <td><%= delivery.number %></td>
    <td><%= delivery.start %></td>
    <td><%= delivery.finish %></td>
    <td><%= delivery.content %></td>
    <% if session[:user_id]  %>
    <td><%= link_to 'Watch for tansporting', edit_delivery_path(delivery) %></td>
    <% end %>
    <td><%= link_to 'Destroy', delivery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
</table>
