<p id="notice"><%= notice %></p>
<% if @delivery.name != nil %>
<p>
  <b>Name:</b>
  <%= @delivery.name %>
</p>

<p>
  <b>Number:</b>
  <%= @delivery.number %>
</p>
<p>
  <b>City:</b>
  <%= @delivery.city %>
</p>
<% end %>
<p>
  <b>Start:</b>
  <%= @delivery.start %>
</p>

<p>
  <b>Finish:</b>
  <%= @delivery.finish %>
</p>
<% if @delivery.content != nil %>
<p>
  <b>Content:</b>
  <%= @delivery.content %>
</p>
<% end %>
<p>
  <b>Weight:</b>
  <%= @delivery.weight %>Kg
</p>
<p>
  <b>Price:</b>
  
  <%= @delivery.price %>Ls
</p>

<% if (session[:user_id] or session[:admin_id])%>
<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Home', :controller => 'public', :action => 'index' %>
<% end %>
