<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @delivery.name %>
</p>

<p>
  <b>Number:</b>
  <%= @delivery.number %>
</p>

<p>
  <b>Start:</b>
  <%= @delivery.start %>
</p>

<p>
  <b>Finish:</b>
  <%= @delivery.finish %>
</p>

<p>
  <b>Content:</b>
  <%= @delivery.content %>
</p>


<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Home', :controller => 'public', :action => 'index' %>
