<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@order.errors.count, "error") %>.
    </div>
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="span6 offset3">

 <% if !(session[:user_id] or session[:admin_id])  %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :start %>
    <%= f.text_field :start %>
  </div>
  <div class="field">
    <%= f.label :finish %>
    <%= f.text_field :finish %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <% end %>
  <% if session[:user_id] or session[:admin_id]  %>
  <p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Number:</b>
  <%= @order.number %>
</p>

<p>
  <b>Start:</b>
  <%= @order.start %>
</p>

<p>
  <b>Finish:</b>
  <%= @order.finish %>
</p>

<p>
  <b>Content:</b>
  <%= @order.content %>
</p>


   <div class="field">
   Check for transport
  	<%= f.check_box :road %>
  </div>
  	<% end %>
  	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>