<h1>Listing orders</h1>

<table class="table table-bordered">
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Number</th>
    <th>Start</th>
    <th>Finish</th>
    <th>Content</th>
    
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <% if order.road == true %>
  <tr>
  	 <td><%= order.user.username %></td>
    <td><%= order.name %></td>
    <td><%= order.number %></td>
    <td><%= order.start %></td>
    <td><%= order.finish %></td>
    <td><%= order.content %></td>
    <td><%= link_to 'Watch for tansporting', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
