<!DOCTYPE html>
<html>
  <head>
    <title>Sporta aktivitasu kurjers</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "superkurjers", home_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
        <% if !(session[:user_id] or session[:admin_id])%>
<li><%= link_to "Sign in", signin_path %></li>
              <li><%= link_to "Sign up", signup_path %></li>
              <% end %>
              <% if !(session[:user_id] or session[:admin_id])%>
                  <li><%= link_to "Order", :controller => 'deliveries', :action => 'new' %></li>
                  <% end %>
                  <% if session[:user_id] or session[:admin_id]%>
                   <li><%= link_to "Available deliveries", :controller => 'deliveries', :action => 'index' %></li>
                  <% end %>
                   <% if session[:user_id]%>
                   <li><%= link_to "My road deliveries", onroad_path %></li>
                     <li><%= link_to "My account", :controller => 'users', :action => 'show', :id => session[:user_id]%></li>
                  <% end %>
                    <li><% if session[:user_id]  %>
<%= link_to("Logout", logout_path) %></li>
<% end %>
                   <% if session[:admin_id]%>
                   <li><%= link_to "On road deliveries", :controller => 'deliveries', :action => 'onroad' %></li>
                    <li><%= link_to "Completed deliveries", :controller => 'deliveries', :action => 'completed'  %></li>
                 <li><%= link_to "Incomes", :controller => 'deliveries', :action => 'courier_salaries'  %></li>
                  <li><%= link_to "All couriers", :controller => 'users', :action => 'index'  %></li>
                  <% if session[:admin_id]  %>
<li><%= link_to("Logout", logout_path) %></li>
        <% end %>
                
                  <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

